@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
}

:root {
  --primary: #b10000;
  --secondary: #1e1e1e;
}

.textcolor {
  color: var(--primary);
  font-weight: 700;
}

body {
  background-color: var(--secondary);
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0px 20px;
  font-size: 16px;
}

li {
  margin-bottom: 2px;
}

/* Navigation */

.nav__content {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 1;
}

.nav__left,
.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo__wrapper {
  width: 80px;
  margin-right: 32px;
}

.nav__logo {
  max-width: 100%;
}

.nav__link__1 {
  margin: 0 16px;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 1px transparent solid;
  transition: color 400ms ease, border-bottom-color 400ms ease;
}

.nav__link__1:hover {
  color: var(--primary);
  border-bottom-color: #fff;
  color: #b10000;
}

.nav__link__2 {
  margin: 0 16px;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 1px transparent solid;
  transition: color 400ms ease, border-bottom-color 400ms ease;
}

.nav__link__2:hover {
  color: var(--primary);
  border-bottom-color: #fff;
  color: #b10000;
}

.nav__input__wrapper {
  position: relative;
}

.nav__input {
  padding: 12px 4px 12px 32px;
  border-radius: 40px;
  width: 0px;
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: 24px;
  transition: width 500ms ease;
  cursor: default;
}

.nav__search {
  position: absolute;
  left: 8px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}

.nav__search:hover {
  color: var(--primary);
}

.nav__input:focus,
.nav__input:active {
  width: 240px;
  outline: 2px #fff solid;
  cursor: text;
}

.nav__input:focus:hover,
.nav__input:active:hover {
  outline: 2px var(--primary) solid;
}

.nav__user {
  color: #fff;
  cursor: not-allowed;
}

.nav__user:hover {
  color: var(--primary);
}

.nav__menu{
  color: #fff;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

/* Menu */

.menu {
  position: fixed;
  background-color:var(--secondary);
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease;
}

.menu-open {
  visibility: visible;
  opacity: 1;
}

.menu__close {
  position: absolute;
  top: 44px;
  right: 32px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu__link {
  font-size: 32px;
}

/* Landing Background */

.recipe__background__wrapper {
  height: 420px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 60px 50px 0 rgb(5, 5, 5, 0.45);
}

.recipe__background__img {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  bottom: 40px;
  filter: opacity(20%);
}

.recipe__background__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 0 16px;
}

.recipe__background__title {
  font-size: 60px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 12px;
}

.recipe__background__para {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 40px;
  width: 100%;
}

.recipe__background__button {
  padding: 12px 30px;
}

.recipe__input__wrapper {
  position: relative;
}

.recipe__input {
  padding: 24px 60px 24px 30px;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  border: 2px #fff solid;
  font-size: 20px;
  transition: 400ms ease;
  max-width: 100%;
}

.recipe__input:focus,
.recipe__input:active {
  transform: scale(1.02);
  outline: none;
  box-shadow: 0px 0px 8px var(--primary);
}

.recipe__input:focus + .recipe__search {
  transform: scale(1.02), translateY(-50%);
}

.recipe__input:hover {
  border-color: var(--primary);
}

.recipe__search {
  position: absolute;
  font-size: 24px;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  transition: 400ms ease;
  cursor: pointer;
}

.recipe__search:hover {
  transform: translateY(-50%) scale(1.1);
  color: var(--primary);
}

.recipe__search:active {
  transform: translateY(-50%) scale(0.8);
}

.recipe__background__filter {
  padding-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
  position: absolute;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px transparent solid;
  transition: color 400ms ease, border-bottom-color 400ms ease;
}

.recipe__background__filter:hover {
  color: var(--primary);
  border-bottom-color: #fff;
}

/* Recipes */

.container {
  padding: 80px 0;
}

.row {
  margin: 0 40px;
}

.recipes__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes__top {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.recipes__top__title {
  font-size: 32px;
  font-weight: 400;
}

.recipes__top__title__landing {
  font-size: 32px;
  font-weight: 400;
}

.recipe__search__result {
  padding: 8px 0;
  margin-left: 24px;
  font-weight: 300;
  text-shadow: 1px 1px 10px #b10000, 1px 1px 10px #b10000;
  color: #b10000;
  border-bottom: 1.5px #b10000 solid;
  font-size: 24px;
}

.recipes__list {
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.recipe {
  width: 198px;
  margin: 24px 8px;
  background-color: #1e1e1e;
  color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
  position: relative;
}

.recipe__invisible {
  visibility: hidden;
}

.recipe__img__wrapper {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 288px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.recipe__img__wrapper:hover .recipe__img {
  transform: scale(1.04);
  filter: opacity(45%) blur(4px);
}

.recipe__img__wrapper:hover .recipe__info__list {
  opacity: 100%;
  transition: opacity 800ms;
}

.recipe__img__wrapper:hover .recipe__info__title {
  opacity: 100%;
  transition: opacity 800ms;
}
.recipe__img {
  width: 100%;
  max-height: 288px;
  height: 288px;
  object-fit: cover;
  transition: all 400ms ease;
  z-index: -2;
}

.recipe--skeleton {
  width: 198px;
  margin: 24px 8px;
  background-color: #373737;
  color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
  position: relative;
}

.recipe__img__wrapper--skeleton {
  background-color: #4f4f4f;
  width: 100%;
  max-height: 288px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.recipe__img--skeleton {
  width: 100%;
  max-height: 288px;
  height: 288px;
  object-fit: cover;
  transition: all 400ms ease;
  z-index: -2;
}

.recipe__title {
  font-weight: 400;
  font-size: 14px;
  margin: 8px 0 24px 0;
  padding: 0 8px;
  color: #fff;
  text-align: center;
}

.recipe__title--skeleton {
  font-weight: 400;
  font-size: 14px;
  margin: 8px 0 24px 0;
  padding: 0 8px;
  color: #373737;
  text-align: center;
}

.recipe__info__list {
  position: absolute;
  top: 45%;
  left: 8px;
  transform: translateY(-50%);
  width: 90%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 200ms;
}

.recipe__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 8px;
  color: #fff;
}

.recipe__info:first-child {
  margin-top: 60px;
}

.recipe__info__text {
  font-size: 15px;
  font-weight: 600;
}

.recipe__info__icon {
  color: #fff;
}

.recipe__info__title {
  position: absolute;
  text-align: left;
  color: #fff;
  font-size: 20px;
  top: 24px;
  left: 16px;
  opacity: 0;
  transition: opacity 400ms ease;
}

.recipe__info__title:hover,
.recipe__info__icon:hover,
.recipe__info__text:hover {
  color: var(--primary);
}

/* Filter */

.recipe__filter__wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
  backdrop-filter: blur(2px);
  justify-content: end;
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: 300ms ease;
}

.recipe__filter-open.recipe__filter__wrapper {
  visibility: visible;
  opacity: 1;
}

.recipe__filter {
  border-radius: 10px;
  background-color: black;
  color: #fff;
  border: none;
  max-width: 50%;
  margin: auto;
  cursor: default;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  padding: 10px 10px;
}

.recipe__filter:hover {
  border: 2px var(--secondary) solid;
}

.recipe__filter__select {
  border-radius: 10px;
  background-color: black;
  color: #fff;
  border: none;
  height: auto;
  padding: 10px 10px;
}

.recipe__filter__select:hover {
  border: 1px var(--primary) solid;
  background-color: var(--secondary);
}

.recipe__filter__select__text {
  font-size: 14px;
}

/* Recipe Page */

.recipe__page__wrapper {
  max-width: 1024px;
  min-width: 400px;
  padding: 0px 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  color: #fff;
  border: 2px var(--primary) solid;
}

.recipe__page__img__wrapper {
  background-color: #1e1e1e;
  width: 100%;
  max-width: 297px;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}

.recipe__page__img {
  width: 297px;
  height: 432px;
  border-radius: 8px;
  object-fit: cover;
  transition: all 400ms ease;
  z-index: -2;
}

.recipe__page__title {
  font-size: 48px;
  margin-bottom: 15px;
  transition: color 400ms ease;
}

.recipe__page__title:hover {
  color: var(--primary);
}

.recipe__page__info__row__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.recipe__page__text__container__1 {
  display: flex;
}

.recipe__page__text__container__2 {
  display: flex;
  flex-direction: column;
}

.recipe__page__base__text {
  font-size: 24px;
  margin-bottom: 10px;
  padding-right: 5px;
}

.recipe__page__text {
  font-size: 24px;
  margin-bottom: 10px;
  transition: color 400ms ease;
}

.recipe__page__text:hover {
  color: var(--primary);
}

.recipe__page__para {
  margin-bottom: 5px;
  font-size: 18px;
}

.recipe__page__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.skeleton {
  background-color: #4f4f4f;
  color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.recipe__page__img--skeleton {
  width: 297px;
  height: 432px;
  border-radius: 8px;
  object-fit: cover;
  transition: all 400ms ease;
  z-index: -2;
}

.recipe__page__title--skeleton {
  width: 400px;
  height: 48px;
  margin-bottom: 15px;
}

.recipe__page__text--skeleton {
  width: 150px;
  height: 24px;
}

.recipe__page__list--skeleton {
  background-color: #4f4f4f;
  color: #dddbdd;
  width: 300px;
  margin-bottom: 2px;
}

.recipe__page__para--skeleton {
  background-color: #4f4f4f;
  color: #dddbdd;
  width: 900px;
  height: 20px;
  margin-bottom: 8px;
}

.recipe__page__source--skeleton {
  width: 400px;
  height: 24px;
}


/* Large Screens */

@media (max-width: 1024px) {
  
}

/* Medium Screens */

@media (max-width: 768px) {
  .nav__menu{
    display: block;
  }

  .nav__input__wrapper,
  .nav__user,
  .nav__link__1,
  .nav__link__2{
    display: none;
  }

  .recipe__background__img {
    width: 100%;
    height: 500px;
  }
  
}

/* Small Screens */

@media (max-width: 640px) {


}

/* Mobile Devices */

@media (max-width: 480px) {
}
